.scannerwork
.env
.venv
__pycache__/
*.pyc
server_log.txt
cli_log.txt
cli_debug.log
eb_logs.txt

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
